.games-list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: $desktopWidth ) {
    justify-content: space-between;
  }
  @media screen and (max-width: $phoneWidth ) {
    justify-content: center;
  }
}
.game-item {
  width: 194px;
  height: 195px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: $white;
  &:nth-child(6n+6) {
    margin-right: 0;
    @media screen and (max-width: $desktopWidth ) {
      margin-right: 10px;
    }
  }
}