.menu-list {
  display: flex;
}
.menu-item {
  height: 96px;
  max-width: 163px;
  width: 100%;
  background: #0E152F;
  margin-right: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.active {
  border-bottom:1px solid #F3B233;
}
.menu-link {
  padding: 24px 30px;
  color: #FFFFFF;
  height: 100%;
  font-weight: bold;
  font-size: 12px;
  line-height: 124.2%;
  text-align: center;
  text-transform: uppercase;
  &__title {
    margin-top: 13px;
  }
}
.test {
  color: #ffffff;
  font-size: 24px;
}