// Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
$mainFont                : 'Montserrat', sans-serif;

// Size
$mainFontColor           : #000000;
$mainFontSize            : 12px;
$mainFontWeight          : 400;

$desktopWidth            : 1248px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$main           : #060E2A;
$white          : #ffffff;
$black          : #000000;
$background     : #E5E5E5;
$primary        : #F9F8FC;

// Fonts
$important      : #FF3B30;
$default        : #8E8E93;

// Border Color
$border-base             : #F9F8FC;