// Font
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap');
$mainFont                : 'IBM Plex Sans', sans-serif;

// Size
$mainFontColor           : #000000;
$mainFontSize            : 15px;
$mainFontWeight          : 400;
// $mainLineHeight          : 1.4;

$desktopWidth            : 1200px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;




// Main color
$main           : #103D97;
$white          : #ffffff;
$black          : #000000;
$background     : #E5E5E5;
$primary        : #F9F8FC;

// Fonts
$important      : #FF3B30;
$default        : #8E8E93;

// Border Color
$border-base             : #F9F8FC;