// Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
$mainFont                : 'Montserrat', sans-serif;

// Size
$mainFontColor           : #000000;
$mainFontSize            : 12px;
$mainFontWeight          : 400;

$desktopWidth            : 1248px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$background              : #060E2A;
$background-item         : #0E152F;
$main                    : #F3B233;
$white                   : #ffffff;
$black                   : #000000;

// Fonts
$text      : #ffffff;
